.benefits__container {
  display: flex;
  height: 120px;
  background-color: $portfolio-button;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}
.benefits__item {
  display: inline-block;
  @media screen and (max-width: 767px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 352px;
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.benefits__title {
  color: $basic-coller;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.benefits__text {
  color: $description-collor;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.benefits {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
