.client {
  justify-content: center;
  text-decoration: note;
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.client__link {
  width: auto;
  height: 92px;
  display: flex;
  color: $logo-collor;
  border: 1px solid $logo-collor;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition-property: color, background-color;
  transition-duration: $transition-duration;
  transition-timing-function: $time-function;
  &:hover,
  &:focus {
    color: $hover-collor-text;
    border: 1px solid $hover-collor-text;
  }
}
.client__item {
  width: calc((100% - 2 * 30px) / 2);
  height: 90px;
  margin: 15px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 3 * 30px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.client__icon {
  fill: currentColor;
}
