.contact {
  margin-left: auto;
  @media screen and (max-width: 767px) {
    margin-top: 302px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contact__link {
  display: inline-flex;
  font-weight: 500;
  letter-spacing: 0.02em;
  @media screen and (min-width: 768px) {
    padding: 10px 0;
    font-size: 14px;
    line-height: 1.14;
  }
  align-items: center;
  text-decoration: none;
  font-size: 34px;
  line-height: 1.17;

  color: $description-collor;
  transition: color $time-function $transition-duration;
  &:hover,
  &:focus {
    color: $hover-collor-text;
  }

  @media screen and (min-width: 1200px) {
    padding: 32px 0;
  }
}
.contact__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }
  fill: currentColor;
  margin-right: 10px;
}
.contact__item {
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
.contact__link-text {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}
