.footer {
  background-color: $bacgraund;
  padding: 60px 0;
}
.container__footer {
  align-items: baseline;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
