.navigate {
  margin-left: 93px;
}
.navigate__list {
  display: flex;
}
.navitage__item:not(:last-child) {
  margin-right: 50px;
}
.navigate__link {
  position: relative;
  color: var(--basic-coller);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  padding: 32px 0;
  transition: color $time-function $transition-duration;

  &:hover,
  &:focus {
    color: $hover-collor-text;
  }
}

.navigate__link--current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;
  background-color: $hover-collor-text;
}
