.subscribe {
  margin-left: 93px;
  @media screen and (max-width: 767px) {
    margin-left: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
    margin-left: 0;
    margin-top: 60px;
  }
}
.subscribe__title {
  @extend %footer-title;
}

.subscribe__button {
  display: flex;
  max-width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $title-color;
  background-color: $hover-collor-text;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  margin-left: 12px;
  cursor: pointer;
  @media screen and (max-width: 1199px) {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  transition: backgraund-color $transition-duration $time-function;
  &:hover,
  &:focus {
    background-color: $button-hover;
  }
}

.subscribe__mail {
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: inherit;
  outline: none;
  color: $title-color;
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 100%;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
.subscribe__icon {
  margin-left: 10px;
}
.subscribe__form {
  @media screen and (max-width: 1199x) {
    display: block;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: inline-flex;
  }
}
