/* сброс стилей */
body {
  @media screen and (min-width: 320px) {
    overflow-x: hidden;
  }
  @media screen and (max-width: 319px) {
    overflow-x: visible;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
}
li {
  padding: 0;
  margin: 0;

  list-style: none;
}
/* Сброс подчеркивания всех ссылок */
a {
  text-decoration: none;
}
.section {
  padding: 94px 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
