/* сброс стилей */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
li {
  padding: 0;
  margin: 0;

  list-style: none;
}
/* Сброс подчеркивания всех ссылок */
a {
  text-decoration: none;
}
.section {
  padding: 94px 0;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}
