/* Цвета */
$hover-collor-text: #2196f3;
$description-collor: #757575;
$basic-coller: #212121;
$title-color: #ffffff;
$bacgraund: #2f303a;
$portfolio-button: #f5f4fa;
$logo-collor: #afb1b8;
$button-hover: #188ce8;

/* Шрифт */
$primary-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;

/* Анимация и переход */
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
